<div class="container booking-container">
  <div class="row">
    <h3 id="formtitle">Vos réservations</h3>

      <div class="booking-politicians">
        <% @bookings.each do |booking| %>
          <div class="cards-booking">
            <%= cl_image_tag booking.politician.photo.key, class: "politicians-img", height: 120, crop: :fill %>
            <div class="card-body">
              <div class="badge rounded-pill bg-primary" id="badge-index"><%= booking.politician.expertise %></div>
              <h5 class="booking-name"><strong><%= booking.politician.full_name %></strong></h5>
              <p><i class="fa-solid fa-calendar-check"></i>  <%= booking.date %>
              <p><i class="fa-solid fa-location-dot"></i>  <%= booking.politician.address %>
              <a href="#" class="btn btn-outline-primary btn-sm">Plus d'info</a>
              <%= link_to "cliquer", politician_path(booking.politician), class: "a-index" %>
            </div>
          </div>
        <% end %>
      </div>

  </div>
</div>
