<!-- SEARCH BAR -->
<div class="container">
  <%= form_tag politicians_path, method: :get do %>
    <div class="search-bar">
      <div class="search-element">
        <p>Quel type d'expertise ?</p>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Fiscal, corruption, manipulation, séduction, conquête, ..."
        %>
       </div>
      <div class="search-element">
      <p>Dans quel pays ?</p>
        <%= text_field_tag :queryloc,
          params[:queryloc],
          class: "form-control",
          placeholder: "France"
        %>
       </div>
      <%= submit_tag "Rechercher", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<!-- BANNER -->
<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(6,56,128,0.4),rgba(0,0,0,0.8)), url('https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fd1e00ek4ebabms.cloudfront.net%2Fproduction%2F58d952e3-9f3f-46a6-a785-88c7ddc16248.jpg?fit=scale-down&source=next&width=700')">
    <div class="container">
      <!-- Textes à mettre à jour -->
      <h1>AirPolitics vous permet de louer des services politiques uniques</h1>
      <p>Grâce à nos services, défiez toute personne osant se mettre sur votre chemin.</p>
      <%= link_to "Trouve ton politique", politicians_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

<!-- CARDS CATEGORY -->
<div class="container">
  <div class="cards">
    <!-- Titre + photo + lien à mettre à jour -->
     <%= link_to politicians_path(query: "fraude") do%>
      <div class="card-category" style="background-image: linear-gradient(rgba(6,56,128,0.3),rgba(0,0,0,0.6)), url('https://i.ibb.co/kxxtcgz/fraude.jpg')">
        Art de la fraude fiscale
      </div>
    <% end %>

    <!-- Titre + photo + lien à mettre à jour -->
    <a href="#"><div class="card-category" style="background-image: linear-gradient(rgba(6,56,128,0.4),rgba(0,0,0,0.8)), url('https://i.postimg.cc/523X1Lg8/manipulation.png')">
      Art de la manipulation
    </div></a>

    <a href="#"><div class="card-category" style="background-image: linear-gradient(rgba(0,35,100,0.3),rgba(0,0,0,0.6)), url('https://i.postimg.cc/k5YDRCk4/seduction.jpg')">
      Art de la séduction
    </div></a>
  </div>
</div>

<!-- CARDS POLITICIANS -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <a href="#"><div class="card-politicians">
        <!-- URL à mettre à jour -->
        <img src="https://www.moustique.be/wp-content/uploads/2022/04/methode_times_prod_web_bin_298872bc-bf21-11ec-8413-422ef6319ad0.jpg" class="card-img-top">
        <div class="badge rounded-pill bg-primary" id="badge">Art de la séduction</div>
        <div class="card-body">
          <!-- Elements à mettre à jour -->
          <h5 class="card-title"><strong>Emmanuel Macron</strong></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-list">
          <div>
            <p><i class="fa-solid fa-star"></i> <strong>3,98</strong> / 5</p>
          </div>
          <p><strong>250.000 €</strong> / h</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col">
      <a href="#"><div class="card-politicians">
        <!-- URL à mettre à jour -->
        <img src="https://www.moustique.be/wp-content/uploads/2022/04/methode_times_prod_web_bin_298872bc-bf21-11ec-8413-422ef6319ad0.jpg" class="card-img-top">
        <div class="badge rounded-pill bg-primary" id="badge">Art de la séduction</div>
        <div class="card-body">
          <!-- Elements à mettre à jour -->
          <h5 class="card-title"><strong>Emmanuel Macron</strong></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-list">
          <div>
            <p><i class="fa-solid fa-star"></i> <strong>3,98</strong> / 5</p>
          </div>
          <p><strong>250.000 €</strong> / h</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col">
      <a href="#"><div class="card-politicians">
        <!-- URL à mettre à jour -->
        <img src="https://www.moustique.be/wp-content/uploads/2022/04/methode_times_prod_web_bin_298872bc-bf21-11ec-8413-422ef6319ad0.jpg" class="card-img-top">
        <div class="badge rounded-pill bg-primary" id="badge">Art de la séduction</div>
        <div class="card-body">
          <!-- Elements à mettre à jour -->
          <h5 class="card-title"><strong>Emmanuel Macron</strong></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-list">
          <div>
            <p><i class="fa-solid fa-star"></i> <strong>3,98</strong> / 5</p>
          </div>
          <p><strong>250.000 €</strong> / h</p>
        </div>
        </a>
      </div>
    </div>
        <div class="col">
      <a href="#"><div class="card-politicians">
        <!-- URL à mettre à jour -->
        <img src="https://www.moustique.be/wp-content/uploads/2022/04/methode_times_prod_web_bin_298872bc-bf21-11ec-8413-422ef6319ad0.jpg" class="card-img-top">
        <div class="badge rounded-pill bg-primary" id="badge">Art de la séduction</div>
        <div class="card-body">
          <!-- Elements à mettre à jour -->
          <h5 class="card-title"><strong>Emmanuel Macron</strong></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-list">
          <div>
            <p><i class="fa-solid fa-star"></i> <strong>3,98</strong> / 5</p>
          </div>
          <p><strong>250.000 €</strong> / h</p>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
