<div class="container index-container">
  <div class="row">
      <% @politicians.each do |politician| %>
      <div class="col-6">
        <div class="cards-index" style="width: 18rem;">
       <%= link_to politician_path(politician), class: "a-index" do %>
          <% if politician.photo.attached? %>
            <%= cl_image_tag politician.photo.key, class: "politicians-img", height: 200, crop: :fill %>
          <% end %>
          <div class="card-body">
              <div class="badge rounded-pill bg-primary" id="badge-index"><%= politician.expertise %></div>
              <h5 class="card-title"><strong><%= politician.full_name %></strong></h5>
              <p><%= politician.description.truncate(48)%></p>
              <div class="card-list-index">
                <div>
                <p><i class="fa-solid fa-star"></i> <strong><%=politician.average_rating%></strong>/5</p>
                </div>
               <p><strong><%= politician.price %> €</strong>/h</p>
              </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <div class="map-index"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
  </div>

</div>
