<div class="container">
  <div class="form">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3 id="formtitle">Proposez vos services sur AirPolitics</h3>
          <%= simple_form_for @politician do |f| %>
            <%= f.input :full_name, placeholder: 'Jacques Chirac', label: "Prénom et nom" %>
            <%= f.input :email, placeholder: 'jchirac@gov.com', label: "Email"%>
            <%= f.input :password, placeholder: '••••••••', label: "Mot de passe" %>
            <%= f.input :phone_number, placeholder: '+33 6 23 36 32', label: "Téléphone" %>
            <%= f.input :country, label: "Pays" %>
            <%= f.input :address, placeholder: '13 avenue des Champs-Elysées', label: "Adresse" %>
            <!-- input_html: { data: { geocoder_target: "address" } }, wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } -->
            <%= f.input :photo, as: :file %>
            <!-- Element à ajouter à :photo > input_html: { accept: Politician::PHOTO } -->
            <%= f.input :gender, label: "Sexe", collection: ["Femme", "Homme"] %>
            <!-- Element à ajouter à :gender pour base de données? > collection: Politician::GENDER -->
            <%= f.input :description, placeholder: 'Je propose mes services pour...', label: "Description", hint: "Soyez bref et précis !" %>
            <%= f.input :political_camp, collection: ["Gauche", "Droite", "Les deux", "Ni l'un, ni l'autre", "Je ne sais pas"], label: "Orientation politique" %>
            <!-- Element à ajouter à :political_camp pour base de données? > collection: Politician::POLITCAL_CAMP -->
            <%= f.input :expertise, collection: ["Art de la fraude", "Art de la corruption", "Art de la manipulation", "Art de la guerre", "Art de la séduction"], label: "Expertise" %>
            <!-- Element à ajouter à :expertise pour base de données? > collection: Politician::EXPERTISE -->
            <%= f.input :price, input_html: { value: '124.99' } , label: "Tarif horaire (€)", append: "€" %>
            <%= f.button :submit, "Envoyer", class: "btn btn-primary", "data-disable-with" => "Envoie en cours.." %>
          <% end %>
      </div>
    </div>
  </div>
</div>
