<div class="container d-flex">
  <div class="show-politician">
    <div class="row">
      <div class="col">
        <div class="badge rounded-pill bg-primary" id="badge"><%= @politician.expertise %></div>
        <h2><strong><%= @politician.full_name %></strong></h2>
        <div class="camp"><strong>Camp politique •</strong> <%= @politician.political_camp%></div>
        <%= cl_image_tag @politician.photo.key, height: 350, width: 520, crop: :fill , class: "img" %>
        <br>
        <p><%= @politician.description %></p>
        <div class="details">
          <div>
            <p><i class="fa-solid fa-star"></i> <strong><%= @politician.average_rating %></strong> / 5</p>
          </div>
          <p><strong><%= @politician.price %>€</strong> / h</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="show-details-map">
          <div class="map-show"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col">

        <div class="show-details">
          <h4><strong>Réservation</strong></h4>
          <% if current_user.present? %>
            <%= simple_form_for [ @politician, @booking ] do |f| %>
              <%= f.input :date, html5: true %>
              <%= f.submit "Réserver", class: "btn btn-primary" %>
            <% end %>
          <% else %>
            Vous devez vous <a class="link-politic-show" href="<%= new_user_session_path%>"><strong>connecter</strong></a> ou à vous <a class="link-politic-show" href="<%= new_user_path %>"><strong>inscrire</strong></a> sur AirPolitics pour réserver ce politique.
          <% end %>
        </div>

        <div class="show-details">
          <h4><strong>Contact</strong></h4>
          <p>Pour toutes informations supplémentaires, n'hésitez pas à contacter ce politique.</p>
          <%= mail_to @politician.email, "Envoyez un email", class: "btn btn-primary" %>
        </div>

        <div class="show-details">
          <h4><strong>Avis</strong></h4>
          <% if current_user.present? %>
            <%= simple_form_for [ @politician, @review ] do |f| %>
              <%= f.input :rating, as: :float, input_html: { min: '0', max: '5', step: 'any' } %>
              <%= f.input :comment %>
              <%= f.submit "Envoyer", class: "btn btn-primary" %>
            <% end %>
          <% else %>
            Vous devez vous <a class="link-politic-show" href="<%= new_user_session_path%>"><strong>connecter</strong></a> ou à vous <a class="link-politic-show" href="<%= new_user_path %>"><strong>inscrire</strong></a> sur AirPolitics pour réserver ce politique.
          <% end %>
          <br>
          <br>
          <div>
          <% if @politician.reviews.present? %>
            <h6><strong>Les avis laissés par les précédents utilisateurs :</strong></h6>
            <% @politician.reviews.each do |review| %>
            <div class="reviews">
              <div>
                <p><i class="fa-solid fa-star"></i> <strong><%= review.rating %></strong> / 5</p>
              </div>
              <p><%= review.comment %></p>
            </div>
            <% end %>
            <% else %>
            <p><strong>Il n'y a pas encore d'avis client sur ce politique.</strong></p>
            <% end %>
          </div>
      </div>
  </div>
</div>


        <!-- <form action="">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Le</span>
              <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <input type="submit" value="Réservez" class="btn btn-primary mt-2">
          </form> -->
