<div class="container">
  <div class="show-politician">
    <div class="row">
      <div class="col">
        <div class="badge rounded-pill bg-primary" id="badge"><%= @politician.expertise %></div>
        <h2><strong><%= @politician.full_name %></strong></h2>
        <div class="camp"><strong>Camp politique •</strong> <%= @politician.political_camp%></div>
        <%= cl_image_tag @politician.photo.key, height: 350, width: 520, crop: :fill , class: "img" %>
        <br>
        <p><%= @politician.description %></p>
        <div class="details">
          <div>
            <!-- RATING A METTRE A JOUR -->
            <p><i class="fa-solid fa-star"></i> <strong>3,98</strong> / 5</p>
          </div>
          <p><strong><%= @politician.price %>€</strong> / h</p>
        </div>
      </div>
      map
      <div style="width: 100%; height: 500px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <br>

  <div class="row">
      <div class="col">
        <div class="show-details">
          <h4><strong>Réservez ce politicien </strong></h4>
          <% if current_user.present? %>
            <%= simple_form_for [ @politician, @booking ] do |f| %>
              <%= f.input :date, html5: true %>
              <%= f.submit "Submit review", class: "btn btn-primary" %>
            <% end %>
          <% else %>
            Vous devez vous connecter pour réserver
          <% end %>


          <!-- <form action="">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Le</span>
              <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <input type="submit" value="Réservez" class="btn btn-primary mt-2">
          </form> -->
        </div>
      </div>
      <div class="col">
        <div class="show-details">
          <h4><strong>Contactez-moi</strong></h4>
          <p>Pour toutes informations supplémentaires, n'hésitez pas à me contacter.</p>
          <%= mail_to @politician.email, "Envoyez un email", class: "btn btn-primary" %>
        </div>
      </div>
  </div>
</div>
