<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>", width: 100% >
      <%= image_tag("logo.svg") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="btn btn-outline-primary btn-sm" id="nav-btn" href="<%= new_politician_path %>">Proposez vos services</a>
          </li>
          <li class="nav-item">
            <!-- Lien à mettre à jour / présence si login -->
            <% if current_user.present? %>
              <a class="nav-link" href="#">Bonjour <%= current_user.email %></a>
            <% else %>
              <a class="nav-link" href="#">Bonjour </a>
            <% end %>
          </li>
          <li class="nav-item dropdown">
             <!-- Avatar à mettre à jour / présence si login -->
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <!-- Liens à mettre à jour / présence si non login -->
              <a class="dropdown-item" href="<%= new_user_path %>">Inscription</a>
              <a class="dropdown-item" href="<%= new_user_session_path%>">Connexion</a>
              <!-- Liens à mettre à jour / présence si login -->
              <a class="dropdown-item" href="#">Mes réservations</a>
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
